@import "tailwindcss";


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__phrase {
  font-size: 1.125rem;
  font-weight: 300;
  color: #2d3748;
}
.app__author {
  font-size: 0.875rem;
  font-weight: 600;
  color: #718096;
}

.app__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 9999px;
  background-color: #4299e1;
  color: #fff;
  transition-property: transform;
  transition-duration: 200ms;
}

